tqdm==4.26.0
sounddevice==0.3.12
soundfile==0.10.2
librosa==0.6.2
Sastrawi==1.0.1
gensim==3.6.0
nltk==3.4.5
google-cloud-speech==0.36.0
google-cloud-storage==1.13.0
gTTS==2.0.1
torch==0.4.1
torchvision==0.2.1
uWSGI==2.0.17.1
flask==1.0.2




